/* Reset de CSS para asegurar consistencia entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif; /* Fuente predeterminada */
    line-height: 1.6; /* Espaciado entre líneas */
    background-color: #f4f4f4; /* Color de fondo */
    color: #333; /* Color del texto */
}

/* Contenedor principal */
.container {
    width: 90%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px; /* Espaciado interno */
    max-width: 1200px; /* Ancho máximo */
    margin-bottom: 5px; /* Margen inferior */
}

/* Estilos de cabecera */
header {
    background: linear-gradient(45deg, #35424a, #1c1f21); /* Fondo con degradado */
    color: #ffffff; /* Color del texto */
    padding: 10px 0; /* Espaciado interno superior e inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    position: relative; /* Posición relativa para z-index */
    z-index: 1000; /* Z-index para estar por encima del resto */
}

header h1 {
    margin: 0; /* Elimina el margen */
    font-size: 2.5em; /* Tamaño del texto */
    text-align: center; /* Alineación centrada */
    transition: transform 0.3s ease-in-out; /* Transición al hacer hover */
}

header h1:hover {
    transform: scale(1.05); /* Escala al hacer hover */
}

/* Navegación */
nav {
    display: none; /* Oculta la navegación por defecto */
}

nav ul {
    list-style: none; /* Elimina las viñetas de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

nav ul li {
    margin: 0; /* Elimina el margen */
    text-align: center; /* Alineación centrada */
}

nav ul li a {
    display: block; /* Convierte los enlaces en bloques */
    padding: 10px 20px; /* Espaciado interno */
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    transition: background-color 0.3s; /* Transición al hacer hover */
}

nav ul li a:hover {
    background-color: #1c1f21; /* Color de fondo al hacer hover */
}

.menu-toggle {
    display: block; /* Muestra el botón de menú */
    font-size: 1.5em; /* Tamaño del icono */
    cursor: pointer; /* Cambia el cursor a pointer */
    color: #ffffff; /* Color del icono */
    padding: 10px; /* Espaciado interno */
    position: absolute; /* Posición absoluta */
    top: 10px; /* Posicionamiento desde arriba */
    right: 10px; /* Posicionamiento desde la derecha */
}

/* Estilos para el menú móvil */
.menu-toggle.active + nav {
    display: block; /* Muestra la navegación */
    position: absolute; /* Posición absoluta */
    top: 60px; /* Posicionamiento desde arriba */
    right: 0; /* Posicionamiento desde la derecha */
    background-color: #35424a; /* Color de fondo */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el contenido principal */
main {
    padding: 20px; /* Espaciado interno */
    background: #ffffff; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    text-align: center; /* Alineación centrada */
}

main p {
    font-size: 1.2em; /* Tamaño del texto */
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para imágenes */
main img {
    max-width: 100%; /* Ancho máximo del 100% */
    height: auto; /* Altura automática */
    display: block; /* Muestra como bloque */
    margin: 20px auto; /* Margen superior e inferior automático */
    border-radius: 10px; /* Borde redondeado */
}

/* Estilos para el pie de página */
footer {
    background: #35424a; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    text-align: center; /* Alineación centrada */
    padding: 20px 0; /* Espaciado interno superior e inferior */
    position: fixed; /* Posición fija */
    bottom: 0; /* Posicionamiento desde abajo */
    width: 100%; /* Ancho del 100% */
}

footer p {
    margin: 0; /* Elimina el margen */
}

/* Estilos responsivos */
@media (min-width: 769px) {
    nav {
        display: block; /* Muestra la navegación */
        position: relative; /* Posición relativa */
    }

    nav ul {
        display: flex; /* Muestra los elementos en fila */
        justify-content: center; /* Centra los elementos horizontalmente */
    }

    nav ul li {
        margin: 0 15px; /* Margen izquierdo y derecho */
    }

    .menu-toggle {
        display: none; /* Oculta el botón de menú */
    }
}

@media (max-width: 768px) {
    main {
        padding: 10px; /* Espaciado interno */
    }
}
